@import "./reset.css";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

  --color-player1: #efefef;
  --color-player2: #b02339;
  --color-winner1: #aaaaaa;
  --color-winner2: #af001a;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h3 {
  font-size: 1.17rem;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

button.btn-icon {
  display: flex;
  cursor: pointer;
  padding: 0.4rem 0.9rem;
  background-color: #777777;
  border: none;
  border-radius: 5px;
}

div.ring {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

div.ring::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

div.ring.player1::after {
  border-color: var(--color-player1);
}

div.ring.player2::after {
  border-color: var(--color-player2);
}

td:has(> div.actions) {
  vertical-align: middle;
}

svg[data-prefix="fas"] {
  cursor: pointer;
}
